.logo{
    width: 30px;
    max-width: 100%;
}
.imagegallery img{
    width: 30%;
    padding:1%;
    margin-left: 2%;
    border-radius: 5%;

    
    
   
}
.container text-center my-auto{
    border-radius: 40px;
}
